.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 200, 169);
}
.editorContainer {
  border: 1px solid black;
  margin: 10px;
  height: 35vh;
  width: 60vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  resize: vertical;
  box-shadow: 1px 5px 10px black ; 
}
.miniNavbar {
  border-bottom: 1px solid black ;
  background-color: rgb(9, 184, 108);
  margin: 0;
}
.miniNavbar h3 {
  margin: 0;
}
.editor {
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: none;
  background-color: rgb(177, 241, 166);
}
.markContainer {
  border: 1px solid black;
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 5px 10px black ; 
  background-color: rgb(177, 241, 166);
}
.markdown {
  height: 90%;
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px
}